.grid_T62.page853d0 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr 0.2fr;
	width: 100%;
	height: 100%;
}

.item1_T62_Header.page853d0 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	display: flex;
	padding: 6vh 6vh 6vh 6vh;
	background-color: rgba(57, 58, 57, 0.9);
	align-items: center;
	justify-content: center;
}

.item2_T62_grid_Footer.page853d0 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 3vh 5vh 3vh 5vh;
	background-color: rgba(57, 58, 57, 0.9);
	justify-self: stretch;
	align-self: stretch;
	justify-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: 0.1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 5vh;
	grid-row-gap: 2vh;
}

.item1_Footer_image_GAPeach.page853d0 {
	height: 4rem;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	width: auto;
	margin: 0vh;
	align-self: center;
	justify-self: end;
}

.item1_Footer_text_Credits.page853d0 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.item3_Footer_div_Music.page853d0 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.bodyParent.page853d0 {
	height: 100%;
	background-image: url(../../assets/image/womanBeehive1_IMG.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 25% 0%;
	background-size: 135%;
}

.page853d0 {
	align-items: flex-start;
}


