.grid_T4.page4f908 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	grid-column-gap: 0vh;
	grid-row-gap: 0vh;
	width: 100%;
	height: 100%;
	padding: 6vh;
	background-image: url(../../assets/image/Sahara_Perspective_simState_002_IMG.jpg);
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center center;
	background-size: cover;
}

.item1_T4.page4f908 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.div_Text2.page4f908 {
	height: auto;
}

.buttonFillSq.page4f908 {
	width: 10vh;
	height: 10vh;
}

.buttonFill_Elephant.page4f908 {
	width: 52vh;
	height: 38vh;
}

.buttonFill_Buffalo.page4f908 {
	width: 46vh;
	height: 40vh;
}

.buttonBasic_Invisible.page4f908 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
}

.button_Elephant.page4f908 {
	margin: 0 -59vh -49vh 0;
}

.button_Buffalo.page4f908 {
	margin: 0 0 -26vh -73vh;
}

.anchor_Buffalo.page4f908 {
	width: 0;
	height: 0;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
	margin: 0 0 -60vh -73vh;
}






