.grid_fullPage.page703ef {
	display: grid;
	width: 100%;
	height: 100%;
	background-image: url(../../assets/image/Sahara_Perspective_Sky_Night_IMG.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	background-attachment: local;
}

.image_corn.page703ef {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	align-self: end;
	width: 30vh;
	justify-self: center;
}

.image_cotton.page703ef {
	grid-column-start: 2;
	grid-row-start: 1;
	grid-column-end: 3;
	grid-row-end: 2;
	align-self: end;
	width: 35vh;
	justify-self: center;
}

.anchor_cotton.page703ef {
	grid-column-start: 2;
	grid-row-start: 1;
	grid-column-end: 3;
	grid-row-end: 2;
	align-self: start;
	justify-self: center;
	width: 0;
	height: 0;
	min-height: 0;
	margin: 49vh 0 0 0;
}

.anchor_corn.page703ef {
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	grid-row-end: 2;
	justify-self: center;
	align-self: start;
	width: 0;
	height: 0;
	min-height: 0;
	margin: 28vh 0 0 0;
}

.popperDB_corn.page703ef {
	width: 50vh;
}

.textBackground-KeyConcept.page703ef {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	align-self: end;
	justify-self: center;
	width: 72vh;
	margin: 0 0 6vh 0;
}

.button_Corn.page703ef {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	margin: 0 0 -24vh 0;
}

.button_Cotton.page703ef {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	margin: 0 0 -44vh 0;
}

.buttonFill_Corn.page703ef {
	width: 34vh;
	height: 61vh;
}

.buttonFill_Cotton.page703ef {
	width: 40vh;
	height: 41vh;
}

.div_Text2.page703ef {
	height: auto;
}

.button_Next_KC.page703ef {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: end;
	margin: 0 0 6vh 0;
}
