.grid_T4.page1bb93 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content 1fr;
	grid-column-gap: 0vh;
	grid-row-gap: 9vh;
	width: 100%;
	height: 100%;
	padding: 6vh;
	background-image: url(../../assets/image/background_Sahara_Farm_Map_simState_45_IMG.png);
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center center;
	background-size: cover;
}

.item1_T4.page1bb93 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
	text-shadow: 0.1vh 0.1vh 0.5vh black;
}

.item2_T4.page1bb93 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
}

.item3_T4.page1bb93 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end: span 1;
}

.grid_T9.page1bb93 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content 1fr;
	grid-column-gap: 0vh;
	grid-row-gap: 3vh;
}

.item1_T9.page1bb93 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.item2_T9.page1bb93 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
}

.item3_T9.page1bb93 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end: span 1;
	margin: 0 -3.2vh -3.2vh -3.2vh;
}

.grid_T21.page1bb93 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 3vh;
	grid-row-gap: 0vh;
}

.item1_T21.page1bb93 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
	justify-self: stretch;
	align-self: stretch;
}

.item2_T21.page1bb93 {
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
	justify-self: stretch;
	align-self: stretch;
}

.item3_T21.page1bb93 {
	grid-column-start: 3;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
	justify-self: stretch;
	align-self: stretch;
}

.text_ButtonTitle.page1bb93 {
	line-height: normal;
}

.SH_Correct-Incorrect.page1bb93 {
	border-radius: 0 0 1.3vh 1.3vh;
	display: block;
}

.button_Submit.page1bb93 {
	padding: 0 0 3.2vh 3.2vh;
}

.grid_Equation.page1bb93 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.fraction_Inline.page1bb93 {
	padding: 0vh .5vh 0vh .5vh;
	width: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: inline-block;
	font-size: 2vh;
	vertical-align: middle;
	margin: -0.2vh 0 -0.2vh 0;
}

.text_Numerator.page1bb93 {
	border-bottom: thin black solid;
	width: 3vh;
}

.text_Denominator.page1bb93 {
	width: auto;
}

.fraction_Inline_Big.page1bb93 {
	padding: 0vh .5vh 0vh .5vh;
	width: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 10vh;
	vertical-align: middle;
	margin: -0.2vh 0 -0.2vh 0;
	display: inline-flex;
}

.text_Numerator_Big.page1bb93 {
	border-bottom: 0.8vh white solid;
	width: 22vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.text_Denominator_Big.page1bb93 {
	width: auto;
}

.fraction_10_50.page1bb93 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
}

.colorBlack.page1bb93 {
	display: block;
}

.buttonImage.page1bb93 {
	width: 10vh;
	height: 10vh;
}

.button_Divide_1.page1bb93 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
}

.text_Divide.page1bb93 {
	font-size: 15vh;
	margin: -4vh 0 -4vh 0;
}

.button_Divide_2.page1bb93 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
}

.fraction_1_5.page1bb93 {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
}

.SH_10a.page1bb93 {
	font-size: 10vh;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	width: auto;
}

.SH_10b.page1bb93 {
	font-size: 10vh;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
	width: auto;
}

.SH_Equals.page1bb93 {
	font-size: 15vh;
	margin: -4vh 0 -4vh 0;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
	width: auto;
}

.opacity_Low_BorderIncluded.page1bb93 {
	color: rgba(255,255,255,0.4);
	border-bottom: 0.8vh rgba(255,255,255,0.4) solid;
}

.opacity_Low_NoBorder.page1bb93 {
	color: rgba(255,255,255,0.4);
}

.opacity_Off.page1bb93 {
	color: rgba(255,255,255,0);
}
