.grid_T4.page581f2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	grid-column-gap: 0vh;
	grid-row-gap: 0vh;
	width: 100%;
	height: 100%;
	padding: 6vh;
	background-image: url(../../assets/images/backgrounds/background_Deforestation_IMG.jpg);
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center center;
	background-size: cover;
}

.item1_T4.page581f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.grid_T9.page581f2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content min-content min-content 1fr;
	grid-column-gap: 0vh;
	grid-row-gap: 3vh;
}

.item1_T9.page581f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.item2_T9.page581f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
	justify-self: start;
	width: auto;
}

.item3_T9.page581f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end: 4;
}

.item4_T9.page581f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 4;
	grid-row-end: 5;
}

.item5_T9.page581f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 5;
	grid-row-end: 6;
}

.grid_T16.page581f2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 3vh;
	grid-row-gap: 0vh;
}

.item1_T16.page581f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
	align-self: stretch;
	justify-self: stretch;
}

.item2_T16.page581f2 {
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
	align-self: stretch;
	justify-self: stretch;
}


