.grid_T4.page89216 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0vh;
	grid-row-gap: 0vh;
	width: 100%;
	height: 100%;
	padding: 6vh;
}

.item1_T4.page89216 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
	justify-self: start;
	align-self: end;
}

.buttonFillSq.page89216 {
	width: 25vh;
	height: 18vh;
}

.button_Brain.page89216 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	margin: 0 0 -19vh -34vh;
}

.bg_1.page89216 {
	background-image: url(../../assets/image/Sahara_Perspective_simState_045_IMG.jpg);
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center center;
	background-size: cover;
}

.bg_2.page89216 {
	background-image: url(../../assets/image/Sahara_Perspective_simState_046_IMG.jpg);
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center center;
	background-size: cover;
}






