.grid_T1.paged88f2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;
}

.item1_T1.paged88f2 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	padding: 1.5vh;
}

.grid_T2.paged88f2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	align-items: center;
	height: 100%;
	width: 100%;
	grid-row-gap: 1vh;
}

.item1_T2.paged88f2 {
	align-self: center;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
}

.grid_T9.paged88f2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content 1fr;
	grid-column-gap: 0vh;
	grid-row-gap: 3vh;
	width: 100%;
	height: 100%;
}

.item1_T9.paged88f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.item2_T9.paged88f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
}

.item3_T9.paged88f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end: span 1;
}

.grid_T16.paged88f2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 3vh;
	grid-row-gap: 0vh;
	width: 100%;
}

.item1_T16.paged88f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.item2_T16.paged88f2 {
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.item3_T16.paged88f2 {
	grid-column-start: 3;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.grid_T23.paged88f2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 1fr;
	grid-column-gap: 0vh;
	grid-row-gap: 1.5vh;
	width: 100%;
	height: 100%;
}

.item1_T23.paged88f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.item2_T23.paged88f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
}

.grid_T27.paged88f2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr 0.5fr;
	grid-column-gap: 0vh;
	grid-row-gap: 1.5vh;
	width: 100%;
}

.item1_T27.paged88f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.item2_T27.paged88f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
}

.item3_T27.paged88f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end: span 1;
}

.div_Submit.paged88f2 {
	height: 4.5vh;
}

.WR_WritingField.paged88f2 {
	height: 100%;
}

.grid_T4.paged88f2 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0vh;
	grid-row-gap: 0vh;
	width: 100%;
	height: 100%;
	padding: 6vh;
	background-image: url(../../assets/image/Sahara_Perspective_simState_055_IMG.jpg);
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center center;
	background-size: cover;
}

.item1_T4.paged88f2 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
	justify-self: stretch;
	align-self: stretch;
}

.textBackground-Incorrect.paged88f2 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
	justify-self: stretch;
	align-self: stretch;
	height: auto;
	width: auto;
}

.text_List.paged88f2 {
	margin: 0 0 0 0;
}



