.grid_T4.page10eff {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content 1fr;
	grid-column-gap: 12vh;
	grid-row-gap: 26vh;
	width: 100%;
	height: 100%;
	padding: 6vh;
	background-image: url(../../assets/image/compareElephantHerd_SmallToLarge_Start_IMG.jpg);
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center center;
	background-size: cover;
}

.item1_T4.page10eff {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.item2_T4.page10eff {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: end;
}

.item3_T4.page10eff {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: end;
}

.buttonFill_1.page10eff {
	width: 42vh;
	height: 26vh;
}

.buttonFill_2.page10eff {
	width: auto;
	height: auto;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: stretch;
	align-self: stretch;
}

.page10eff.button_1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
	margin: 0 0 -13vh -14vh;
}

.page10eff.button_2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: stretch;
	align-self: stretch;
	display: grid;
}





