<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    @import url("https://fonts.googleapis.com/css?family=Roboto:normal,bold&display=swap");
  </style>
  <link rel="stylesheet" href="vueStyle.css" />
  <!--<link rel="stylesheet" href="test.css" /-->
  <script src="../../PlaycanvasEngine/dist/polyfill.min.js"></script>
  <script src="../../PlaycanvasEngine/dist/playcanvas-engine.min.js"></script>
  <link rel="shortcut icon" href="" />

</head>


<style>
  /* grapes is going to set these anyway, might as well try to be consistent */
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: #f9f9fb;
  }

  /* styles for top section with graphQL fields */
  .authField {
    width: 6rem;
  }
</style>

<body>
  <a href="iFrame.html" target="_blank">Open iframe</a>
  <div id="app"></div>


</body>

<script src="build.js"></script>

<link rel="stylesheet" href="allStyles.css" />

</html>