.simPreview.pageb1f52 {
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0px;
	right: 0px;
	position: absolute;
	background-color: #000000;
}

.simParent.pageb1f52 {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	margin: 0em 0px 0px 0px;
}

.simPageContent.pageb1f52 {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
}

.div_PlayReplay.pageb1f52 {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: auto;
	padding: 1.5vh;
	border-width: 0.2vh;
	border-style: solid;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-radius: 1.5vh;
}

.text_PlayReplay.pageb1f52 {
	margin-left: 1.5vh;
}

.div_belowGrid.pageb1f52 {
	display: grid;
	align-items: center;
}

.buttonFillSq.pageb1f52 {
	width: 10vh;
	height: 10vh;
}

.elephantButton.pageb1f52 {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	justify-self: end;
	width: 15vh;
	align-self: end;
	margin: 0 5vh 5vh 0;
}

.alarmButton.pageb1f52 {
	grid-column-start: 1;
	grid-row-end: 3;
	justify-self: center;
	align-self: end;
	margin: 0 -62vh 7vh 0;
}

.defendButton.pageb1f52 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: center;
	align-self: end;
	margin: 0 0 7vh -12vh;
}

.scaredButton.pageb1f52 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: center;
	align-self: end;
	margin: 0 0 5vh 23vh;
	width: 13vh;
}

.scaredPopper.pageb1f52 {
	width: 64vh;
}





