.grid_T4.pagea5af6 {
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0vh;
	grid-row-gap: 0vh;
	width: 100%;
	height: 100%;
	padding: 0vh 6vh 0vh 6vh;
	background-image: url(../../assets/images/backgrounds/Sahara_Perspective_simState_059_IMG.jpg);
	background-repeat: no-repeat;
	background-attachment: local;
	background-size: cover;
	background-position: center bottom;
}

.item1_T4.pagea5af6 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
	justify-self: start;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	align-self: center;
	width: 46vh;
	height: 88vh;
}

.image_Phone.pagea5af6 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	width: 46vh;
	height: 88vh;
	margin: 0 0 0 0;
}

.buttonImage.pagea5af6 {
	width: 20vh;
	height: 20vh;
}

.button_Email.pagea5af6 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	width: auto;
	height: auto;
}

.SH_Email.pagea5af6 {
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	width: 40vh;
	height: 72vh;
	margin: -6vh 0 0 0;
	border-radius: 3vh 3vh 3vh 3vh;
	background-color: rgb(33, 37, 41);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 17vh 1fr;
	border: 0.5vh solid rgb(33, 37, 41);
}

.image_Woman.pagea5af6 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	width: 40vh;
	height: 18vh;
}

.div_Woman_Image.pagea5af6 {
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	width: 40vh;
	height: 17vh;
}

.div_ImageCrop.pagea5af6 {
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	width: 40vh;
	height: 17vh;
}

.div_EmailText.pagea5af6 {
	background-color: #ffffff;
	padding: 0 0 0 0;
	width: 40vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	grid-row-gap: 0;
}

.div_Notification.pagea5af6 {
	z-index: 5;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: start;
	align-self: start;
	width: 8vh;
	height: 8vh;
	background-color: #f95858;
	font-size: 6vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 2vh 0;
}

.ED_UnlockNextPage_OnPageLoad.pagea5af6 {
	min-height: 0px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	align-self: start;
	justify-self: start;
	width: 0;
	height: 0;
}

.text_Email.pagea5af6 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	margin: 1.5vh 3vh 0 3vh;
	font-size: 2.5vh;
}

.text_EP.pagea5af6 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	margin: 2vh 3vh 2vh 3vh;
}

.div_DividerLine.pagea5af6 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: stretch;
	height: 0.2vh;
	align-self: end;
	background-color: #B7B7B7;
}
