.grid_T4.page15c44 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	grid-column-gap: 0vh;
	grid-row-gap: 4vh;
	width: 100%;
	height: 100%;
	padding: 6vh;
	background-image: url(../../assets/image/Sahara_WateringHole_1_IMG.jpg);
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center center;
	background-size: cover;
}

.item1_T4.page15c44 {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.item2_T4.page15c44 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.button_SeeSenses.page15c44 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: center;
	align-self: start;
}

.label_Boxes.page15c44 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	padding: 1vh 1vh 1vh 1vh;
	width: auto;
}

.text_Labels.page15c44 {
	width: 17vh;
}

.anchor_Item.page15c44 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	width: 0;
	height: 0;
}

.label_Hearing.page15c44 {
	margin: -12vh -33vh 0 0;
}

.label_Touching.page15c44 {
	margin: 0 0 -20vh -10vh;
	z-index: 200;
}

.label_Seeing.page15c44 {
	margin: -4vh 0 0 -20vh;
}

.label_Smelling.page15c44 {
	margin: -8vh -79vh 0 0;
}

.label_Tasting.page15c44 {
	margin: 0 0 0 -75vh;
}

.anchor_Hearing.page15c44 {
	margin: 0 -39vh -21vh 0;
}

.anchor_Touching.page15c44 {
	margin: 0 0 -63vh -31vh;
}

.anchor_Seeing.page15c44 {
	margin: 0 0 -44vh -34vh;
}

.anchor_Smelling.page15c44 {
	margin: 0 -55vh -36vh 0;
}

.anchor_Tasting.page15c44 {
	margin: 0 0 -35vh -64vh;
}




