.simPreview.page4823c {
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0px;
	right: 0px;
	position: absolute;
	background-color: #000000;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.simParent.page4823c {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	background-image: url(../../assets/image/background_Sahara_Farm_Map_simState_46_IMG.png);
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center center;
	background-size: cover;
}

.simPageContent.page4823c {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
}

.div_belowGrid.page4823c {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.farmMapSimClose_PageContent.page4823c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.buttonFillSq.page4823c {
	width: 80vh;
	height: 70vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr min-content;
	grid-row-gap: 0;
}

.button_1.page4823c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
}

.text_Experiment1a.page4823c {
	font-size: 4vh;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	padding: 3vh 3vh 3vh 3vh;
}

.text_Experiment1b.page4823c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 3vh 3vh 3vh 3vh;
}

.image_Cotton.page4823c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
	width: 25.2vh;
	height: 50vh;
}

.buttonImage.page4823c {
	width: 10vh;
	height: 10vh;
}

.drag_Appearance.page4823c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	padding: 0 0 0 0;
	width: 10vh;
	height: 10vh;
	background-color: #ffffff00;
	border: 0vh solid #ffffff80;
}

.startingDrop_Appearance.page4823c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	width: 10vh;
	height: 10vh;
	padding: 0 0 0 0;
	background-color: #ffffff00;
	color: #ffffff80;
	border: 0vh solid #ffffff80;
	border-radius: 1.3vh;
}

.div_DragStart.page4823c {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: start;
	align-self: center;
}

.div_DragFiller.page4823c {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	width: 10vh;
	height: 10vh;
	color: black;
}

.div_StartingDropText.page4823c {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	width: 15vh;
	height: 10vh;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	color: #d9d9d9;
}

.text_DragNumbers.page4823c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	font-size: 5vh;
	width: auto;
	height: auto;
}

.button_Hive.page4823c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
}

.drop_Appearance.page4823c {
	border-radius: 1.3vh;
	border: 0.5vh dashed #45c1ff;
	background-color: #ffffff00;
	padding: 0 0 0 0;
}

.text_DropHere.page4823c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	color: #999999;
}

.SH_DropHere.page4823c {
	width: 16vh;
	height: 8.75vh;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.div_farmGrid.page4823c {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.drop_1.page4823c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	width: 65vh;
	height: 47vh;
	margin: -1vh -25vh 0 0;
}

.SH_PlantingSeeds.page4823c {
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	width: 79vh;
	height: 59vh;
	border-radius: 2vh 2vh 2vh 2vh;
}

.APNG_PlantSeeds.page4823c {
	width: 79vh;
	height: 59vh;
}

.SH_PlantingSeeds.dropShadow.page4823c {
	border: 0.4vh solid #412B41;
	background-color: #412B41;
}

.anchor_WhitePopper.page4823c {
	width: 0;
	height: 0;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	margin: -46vh -24vh 0 0;
}

.anchor_GridPos.page4823c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	width: 0;
	height: 0;
}

.anchor_1.page4823c {
	margin: -51vh -20vh 0 0;
}

.anchor_2.page4823c {
	margin: 0 -20vh -44vh 0;
}

.popper_ArrowWidget_White.page4823c {
	width: auto;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: center;
	align-self: center;
	margin: -15vh 0 0 -56vh;
}

.button_Next.page4823c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	justify-self: start;
	align-self: center;
}


