.grid_T62.pagefc84a {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	grid-column-gap: 0vh;
	grid-row-gap: 0vh;
	width: 100%;
	height: 100%;
	padding: 6vh;
}

.item1_T62.pagefc84a {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
}

.item2_T62.pagefc84a {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
	justify-self: start;
	align-self: end;
}

.simPreview.pagefc84a {
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0px;
	right: 0px;
	position: absolute;
	background-color: rgb(255, 255, 255);
}

.simParent.pagefc84a {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	margin-top: 0em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.simPageContent.pagefc84a {
	z-index: 2;
	position: relative;
}

.div_Text2.pagefc84a {
	height: auto;
}

.buttonFillSq.pagefc84a {
	width: 10vh;
	height: 10vh;
}

.buttonBasic_Invisible.pagefc84a {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
}

.button_Lion.pagefc84a {
	margin: 0 -55vh -60vh 0;
}

.button_Elder.pagefc84a {
	margin: -7vh 0vh 0vh -22vh;
}

.button_Elephants.pagefc84a {
	margin: 0 0 -6vh -64vh;
}

.buttonFill_Lion.pagefc84a {
	width: 30vh;
	height: 30vh;
}

.buttonFill_Elephants.pagefc84a {
	width: 47vh;
	height: 35vh;
}

.buttonFill_Elder.pagefc84a {
	width: 40vh;
	height: 20vh;
}

.anchor_GridPos.pagefc84a {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
	width: 0;
	height: 0;
}

.anchor_Lion.pagefc84a {
	margin: 0vh -55vh -35vh 0vh;
}

.anchor_Elephants.pagefc84a {
	margin: 0vh 0vh -35vh -60vh;
}

.anchor_Elder.pagefc84a {
	margin: -16vh 0vh 0vh 0vh;
}







