.simPreview.page744a5 {
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0px;
	right: 0px;
	position: absolute;
	background-color: #000000;
}

.simParent.page744a5 {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
}

.simPageContent.page744a5 {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
}

.fraction_Inline.page744a5 {
	padding: 0vh .5vh 0vh .5vh;
	width: 6vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: inline-block;
	vertical-align: middle;
	margin: -0.2vh 0 -0.2vh 0;
	font-size: 2vh;
}

.fraction_Inline_Big.page744a5 {
	padding: 0vh .5vh 0vh .5vh;
	width: 6vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: inline-block;
	vertical-align: middle;
	margin: -0.2vh 0 -0.2vh 0;
}

.text_Numerator_White.page744a5 {
	border-bottom: thin white solid;
	width: auto;
}

.text_Numerator_Black.page744a5 {
	border-bottom: thin black solid;
	width: auto;
}

.text_Denominator.page744a5 {
	width: auto;
}

.grid_farmMapSim_3ButtonColumns.page744a5 {
	grid-template-columns: 20vh 20vh 20vh;
}

.text_Numerator_BlackButtons.page744a5 {
	border-bottom: thin black solid;
	width: auto;
}







