# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on: workflow_dispatch

env:
  repo: https://github.com/nicktayl0r/agb.git

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '12'
    - name: Install Yarn
      run: npm install -g yarn
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'
        architecture: 'x64'
    - uses: BSFishy/pip-action@v1
      with:
        packages: |
          boto3
          pyyaml
          requests
          polling2
    - name: Clone Repository
      run: |
        git clone https://github.com/nicktayl0r/agb.git
#     - name: Pull assets & scenes
#       run: cd local_api/imex && python3 get_assets.py && python3 get_sims.py && cd ../..
    - name: Build dependencies
      run: cd agb/local_api/dependencies/PlaycanvasEngine && yarn && yarn build-all
    - run: pwd && cd agb/local_api/dependencies/app && yarn && yarn build-all
    - run: cd agb/local_api/dependencies/grapes && yarn install && yarn build:all 
    - name: Build Case
      run: cd agb/local_api && yarn && yarn build-prod
    


